<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>AWARE V2</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>logincallback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fitbit</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.513561083200-em3srmsc40a2q6cuh8o2hguvhd1umfll</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>aware-ssl</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aware-ssl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>For collecting data from external sensor modules via Bluetooth, this application needs to access your Bluetooth module in the background.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>For collecting distance between your Bluetooth and iOS devices, this application needs to access Bluetooth API.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>For collecting your schedule, this application needs to access your calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>For finding a QR Code, this application needs to access your camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>For collecting your contant information, this application needs to access your contants information.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>For collecting your health information, this application needs to access HealthKit API.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>For collecting your health information, this application needs to access Health API.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>For collecting your activity, this application needs to access your location data.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>For collecting your activity, this application needs to access your location data.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>For collecting your activity, this application needs to access your location data.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>For collecting you enviromental noise level, this application need to access your mocirphone API.</string>
	<key>NSMotionUsageDescription</key>
	<string>For collecting motion activity, this application needs to access your device motion API.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>For saving the taken photo into Photo Library, this application needs to access your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>For using photos, this application needs to access your Photo Library.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
